
$colorSeccion:#000;
$colorFondo:#fff;
// ====================
// Font Styles
// ====================
.gentium-book-plus-regular {
    font-family: "Gentium Book Plus", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .gentium-book-plus-bold {
    font-family: "Gentium Book Plus", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .gentium-book-plus-regular-italic {
    font-family: "Gentium Book Plus", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .gentium-book-plus-bold-italic {
    font-family: "Gentium Book Plus", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  // ====================
  // Header
  // ====================
  .header {
    width: 100%;
    height: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  $colorSeccion;
    position: relative;
  
    .menu {
      ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1%;
        margin: 0;
  
        li {
          font-family: "Gentium Book Plus", serif;
          font-weight: 700;
          font-style: italic;
          font-size: 24px;
          line-height: 35.16px;
          letter-spacing: 0%;
          text-align: center;
          margin: 0 35px;
          justify-content: center;
  
          a {
            color: #ffffff;
            justify-content: center;
          }
        }
      }
    }
  
    .logo {
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      justify-content: left;
      margin-top: 54px;
      padding: 10px 100px;
      background-color: #fff;
    }
  
    .iconos {
      transform: scale(0.6);
      display: flex;
      margin-top: 10px;
      object-fit: contain;
      flex-direction: row;
      gap: 20px;
      justify-content: right;
      margin-right: -20px; // Empuja hacia el margen derecho
      margin-left: auto;   // Empuja los iconos a la derecha
      z-index: 2;
    }
  }
  
  // Logo icon con animación
  .logo-icon {
    margin-top: 0;
    width: 100px; // Ajusta según necesites
    height: 60px;
    object-fit: contain;
    z-index: 2;
    overflow: visible;
    display: block;
    animation: fade-in-left-alternate 2s ease-in-out 0s infinite alternate none;
  }
  
  // Keyframes
  @keyframes fade-in-left-alternate {
    0% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  //=================
  // carrousel
  //=================
  .carrousel{

    width: 100%;
    max-width: 120em;
    background-color: black;
    padding: 2em;

    .grande{

      width: 400%;
      background-color: $colorFondo;

      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items:center;

      transition: all .5s ease;
      transform: translateX(0%);
      img{
        width: calc(100% /4);
        max-height: 80vh;
        height: auto;
        object-fit: contain;
        margin: 1em;
      }
    }
    .flecha {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: transparent;
      border: none;
      font-size: 2rem;
      color: grey;
      cursor: pointer;
      z-index: 10;
      padding: 0 1rem;
    }
    .izq {
      left: 0;
    }
    .der {
      right: 0;
    }
    .puntos{

      width: 100%;
      padding: 1em;
      background-color: #000;

      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items:center;

      .punto{
        width: 1em;
        height: 1em;
        background-color: white;
        margin: 1em;
      }
      .punto.activo{
        background-color: aqua;

      }
    }
  }

  // ====================
  // Revista
  // ====================
  .contenido {
    width: fit-content;
    padding: 1%;
  }
  
  #revista {
    p {
      margin-left: 20px;
      font-family: "Gentium Book Plus", serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 35.16px;
      letter-spacing: 0%;
      text-align: left;
    }
  
    button {
      margin-left: 20px;
      display: block;
    }
  }
  
  .revista-item {
    position: relative;
    overflow: hidden;
    height: 300px; // Ajusta según necesites
    padding: 0;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }
  
    .revista-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(225, 18, 18, 0.353);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s ease;
  
      span {
        color: rgb(10, 7, 7);
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  
    .revista-link {
      color: inherit;
    }
  
    &:hover {
      .revista-overlay {
        opacity: 1;
      }
      img {
        animation: jello-horizontal 1.9s linear both;
      }
    }
  }
  
  @keyframes jello-horizontal {
    0% { transform: scale3d(1, 1, 1); }
    30% { transform: scale3d(1.25, 0.75, 1); }
    40% { transform: scale3d(0.75, 1.25, 1); }
    50% { transform: scale3d(1.15, 0.85, 1); }
    65% { transform: scale3d(0.95, 1.05, 1); }
    75% { transform: scale3d(1.05, 0.95, 1); }
    100% { transform: scale3d(1, 1, 1); }
  }
  
  // ====================
  // General Styles
  // ====================
  body {
    font-family: "Gentium Book Plus", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 35.16px;
    letter-spacing: 0%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    color: $colorSeccion;
  }
  
  button,
  form button {
    font-family: "Gentium Book Plus", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 35.16px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    width: 261px; // Se añaden unidades
    height: 67px; // Se añaden unidades
    border-radius: 34px;
    padding: 10px;
    gap: 10px;
    color: #332B12;
    background: #CDC491;
    cursor: pointer;
  }
  
  // Contenedor del h2
  h2 {
    box-sizing: border-box;
    width: 100%;
    padding: 1%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    margin-top: 54px;
    background-color: $colorSeccion;
  }
  
  h1,
  h2 {
    font-family: "Gentium Book Plus", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    line-height: 35.16px;
    letter-spacing: 0%;
    text-align: center;
    text-indent: 20px; // Empuja hacia el margen izquierda
    color: #fff;
  }
  
  a {
    margin-top: 30px;
    text-decoration: none;
    color: #fff;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  // ====================
  // Hero Section
  // ====================
  .hero {
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $colorSeccion;
    text-align: center;
    padding: 40px 20px;
    overflow: visible;
  
    .hero-content {
      position: absolute;
    }
  
    h1 {
      font-size: 3rem;
      text-shadow: 1px 1px 3px $colorSeccion;
      justify-content: center;
      display: flex;
      text-align: center;
    }
  
    p {
      font-size: 1.2rem;
      text-shadow: 1px 1px 3px $colorSeccion;
    }
  }
  
  .container {
    position: fixed;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  
    #rotatingImage {
      width: 30%;
      height: auto;
      transform-origin: center center;
      transition: transform 0.01s linear;
    }
  }
  
  // ====================
  // Sections
  // ====================
  .section {
    position: relative;
    z-index: 1;
  }
  
  .grid-container {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .playlist {
    .grid-container {
      justify-items: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
  
  .item,
  .playlist {
    margin: 20px 30px;
    padding: 20px;
    text-align: center;
  }
  
  form {
    input {
      padding: 10px;
      margin-top: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
  
  // ====================
  // Footer
  // ====================
  footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    color: $colorSeccion;
  } 
  